<html>
    <head>
        <title>Blog App</title>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
        <link type="text/css" rel="stylesheet" href="/stylesheets/app.css">
   </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><a href+"/blogs"><i class="code icon"></i>Blog Page</a></div>
                <a href="/blogs" class="item">Home</a>
                <a href="/blogs/new" class="item">New Blog Post</a>
            </div>
        </div>
    